.App {
  text-align: center;
  /* background-color: #ebebeb; */
  background-color: #eaebee ;
  font-family: "Libre Baskerville", serif;
}

/* 
.libre-baskerville-regular {
  font-family: 
  font-weight: 400;
  font-style: normal;
} */


.map {
  height: 300px;
  margin: 5%;
  border-radius: 5px;

}

.email {
  margin-bottom: 15px;
}


.footer {
  /* background-image: url("lines.png"); */
  background-color: white;
  min-height: 100px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 20px;
  font-size: 19px;
  padding-bottom: 40px;
}

.cartButton {
  margin-bottom: 15px;
}


.item {
  height:450px;
  object-fit: cover;
  margin-top: 3px;


}
